@import '../../assets/styles/variables';

.jumbotron {
  text-align: center;
  color: #fff;
  background: linear-gradient(to bottom, #004d7c 0%, #005c94 21%, #005c94 100%);
  padding: 0 2rem;
  margin: 0;
}

.jumbotron {
  .row {
    background-image: url('../../assets/images/flower.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.jumbotron__logo {
  background-image: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  min-width: 400px;
}

.jumbotron__body {
  margin: 0;
  padding: 16px 0;
}
