<div class="navbar sidebar-nav">
  <div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home" class="navbar-brand">Sixpack</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in vm.menu" ng-class="{active: vm.isActive(item.state)}">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
