<div class="demo container-fluid">

  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <i class="material-icons md-48">menu</i>
        </md-button>
        <h2>
          <span>Silverplate</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <i class="material-icons md-48">favorite</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <i class="material-icons md-48">more_vert</i>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>


  <div class="row">
    <div class="col-sm-12">
      <h1 class="demo__title">{{ vm.name }}</h1>

      <i class="material-icons md-48">face</i>
      <i class="material-icons md-48" style="color: red;">query_builder</i>

      <md-icon md-font-icon="android" aria-label="android"></md-icon>
      <md-icon class="icon_home" aria-label="Home"></md-icon>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised">Button</md-button>
        <md-button class="md-raised md-primary">Primary</md-button>
        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
        <md-button class="md-raised md-warn">Warn</md-button>
        <div class="label">Raised</div>
      </section>

      <section layout="row" layout-sm="column">
        <md-button class="md-primary md-raised" ng-click="vm.showAlert($event)" flex="100" flex-gt-md="auto">
          Alert Dialog
        </md-button>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
      </section>

    </div>
  </div>
</div>
