<div class="demo container-fluid">

  <section layout="row">
    <md-input-container class="sm-block" flex="90">
      <label>Question</label>
      <input ng-model="vm.question">
    </md-input-container>
    <md-input-container class="md-block" flex="10">
      <md-button flex="10" class="md-raised md-primary" ng-click="vm.showCustomDialog($event)">Answer</md-button>
    </md-input-container>
  </section>

  <section layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">R</span>
    </div>
    <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class>
    </md-slider>
    <div flex="20" layout layout-align="center center">
      <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
    </div>
  </section>

  <div layout="row">
    <md-button class="md-accent md-fab md-fab-bottom-right">
      <md-icon class="material-icons md-48">cloud_download</md-icon>
    </md-button>
  </div>

</div>
