<div class="demo container-fluid">

  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Toolbar with Icon Buttons</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>


  <div class="row">
    <div class="col-sm-12">
      <h1 class="demo__title">{{ vm.name }}</h1>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised">Button</md-button>
        <md-button class="md-raised md-primary">Primary</md-button>
        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
        <md-button class="md-raised md-warn">Warn</md-button>
        <div class="label">Raised</div>
      </section>

      <section layout="row" layout-sm="column">
        <md-button class="md-primary md-raised" ng-click="vm.showAlert($event)" flex="100" flex-gt-md="auto">
          Alert Dialog
        </md-button>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
      </section>

    </div>
  </div>
</div>
